<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>О нас</h1>
        <p>Сервер работает корректно.</p>
    </div>
</body>
</html>