<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
    <style>
            .users-table {
        margin: 20px;
        }
        .user-item {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container" id="users">
       <div class="users-not-found" v-if="users.length === 0">
            <p>Users not found</p>
       </div>
       <div class="users-table" v-else>
            <table border="1px">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody v-for="user in users" :id="user._id">
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
       </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/users.js"></script>
</body>
</html>